.category h3 {
  color: #737373;
  font-weight: 300;
  margin-bottom: 1vh;
  margin-top: 3vh;
}

.category .list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.category .list-wrapper ul {
  grid-column-start: 2;
  grid-column-end: 2;
  list-style-type: none;
}

.category .list-wrapper ul li {
  padding: 0;
}

.category .list-wrapper ul li a {
  display: block;
  padding: 10px 5px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid #936738;
  background-color: #ddd;
  color: #936738;
}

.category .list-wrapper ul li a:hover {
  background-color: #936738;
  color: #ddd;
}

@media only screen and (max-width: 600px) {
  .category h3 {
    font-size: 0.75rem;
  }

  .category .list-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .category .list-wrapper ul {
    grid-column-start: 1;
    grid-column-end: 2;
    list-style-type: none;
  }
}
