.product h3 {
  color: #737373;
  font-weight: 300;
  margin-bottom: 5vh;
}

.product .list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product .list-wrapper ul {
  grid-column-start: 2;
  grid-column-end: 2;
  list-style-type: none;
}

.product .list-wrapper ul li {
  padding: 0;
}

.product .list-wrapper ul li a {
  display: block;
  padding: 10px 0;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid #936738;
  background-color: #ddd;
  color: #936738;
}

.product .list-wrapper ul li a:hover {
  background-color: #936738;
  color: #ddd;
}

.product .list-wrapper input[type=text] {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: white;
  background-image: url('../../logos/search_icon.svg');
  background-size: 20px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-bottom: 3vh;
}

.product .list-wrapper input[type=text]:focus {
  background-color: #ffd1d1;
}

@media only screen and (max-width: 600px) {
  .product h3 {
    font-size: 0.75rem;
  }

  .product .list-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .product .list-wrapper ul {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .product .list-wrapper input[type=text] {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}